<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                         http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0"
         metadata-complete="false">


    <servlet>
        <servlet-name>hello</servlet-name>
        <servlet-class>nnk.pininkara.servlet.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>hello</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>error</servlet-name>
        <servlet-class>nnk.pininkara.servlet.ErrorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>error</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>

    <!--<error-page>
        <location>/error</location>
    </error-page>-->

    <!--Session配置-->
    <session-config>
        <session-timeout>15</session-timeout> <!--单位为分钟-->
    </session-config>

    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>nnk.pininkara.servlet.utils.CharacterEncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>nnk.pininkara.servlet.utils.OnlineCounterListener</listener-class>
    </listener>





</web-app>