<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nnk.my1.dao.UserMapper"><!--绑定命名空间为Dao-->

    <select id="getUserList" resultType="nnk.my1.pojo.User"><!--id为接口方法名，resultType为返回值类型-->
        select *
        from user
    </select>


    <!--对象中的属性可以直接使用-->
    <insert id="addUser" parameterType="nnk.my1.pojo.User">
        insert into user (id, name, pwd) value (#{id},#{name},#{pwd})
    </insert>

    <update id="updateUser" parameterType="nnk.my1.pojo.User">
        update user
        set name = #{name},
            pwd=#{pwd}
        where id = #{id};
    </update>

    <delete id="deleteUser" parameterType="int">
        delete
        from user
        where id = #{id};
    </delete>

    <select id="getUserLike" resultType="nnk.my1.pojo.User">
        select *
        from user
        where name like "%"#{value}"%";
    </select>

    <select id="getUserByLimit" parameterType="map" resultType="nnk.my1.pojo.User">
        select *
        from user limit #{startIndex},#{pageSize}
    </select>

    <select id="queryUserById" resultType="user">
        select *
        from user
        where id = #{id}
    </select>

</mapper>